/*This is css is meant to be used in reporting pages and they will be starting with word R to avoid the conflict*/
.R_apply {
	text-align: center;
}
.paginationPadding{
	
}

.no_sort_img{
	/*backgorund:url("../../image/common/sort_both.png") no-repeat scroll right center rgba(0, 0, 0, 0)*/
	background: none !important;
}



.R_duplicate_frequency{
	border:2px solid red;
	padding:5px;
	margin:5px;
	border-radius:4px;
}
.R_linkPadding{
	margin-top:6px;
}

.confirmationPopUpDiv{
	z-index: 100;
}

.R_updateTableContainer{
    left: 45% !important;
    width: 90% !important;
}

.R_editSchedule_size{
    padding: 2px 0px 0px 4px;
}

.R_deleteSchedule_size{
	padding: 2px 0px 0px 0px;
}
.R_table_left{
    padding: 8px 8px 13px !important;
    text-align: left !important;
}

.R_table_right{
    padding: 8px 8px 13px !important;
    text-align: right !important;
}

.R_fieldInfo{
	font-family: "Helvetica", "Roboto", "Arial", "sans-serif";
	color:#526470;
	font-size: 14px;
	font-weight: normal;
	position: relative;
	top:-1px;
}

.dataTables_info {
    color: #00be9c;
    float: left;
    font-family: "Helvetica", "Roboto", "Arial", "sans-serif";
    font-size: 13px;
    font-style: normal;
    margin-left: 9px;
    position: absolute;
    text-decoration: none;
    width: 52%;
}

.R_column_filter_popup{
	background-color: #fff;
    border: 1px solid #cccccc;
    border-radius: 5px;
    box-shadow: 0 1px 3px 1px #ddd;
    display: none;
    font-size: 12px;
    padding: 20px 10px 0;
    position: absolute;
    text-align: left;
    z-index: 9987;
}

/* .spinnerImage{
    margin-left: 50%;
    margin-top: 20%;
} */

.R_reportInfoGrid{
	  background-color: #279989;
    border: 1px solid white;
    border-radius: 3px;
    color: white;
    font-size: 13px;
    font-weight: bold;
    height: 4.5em;
    padding: 5px;
    text-align: center;
}
.R_reportInfoGrid:HOVER{
	background-color:#00be9c;
	color:white;
	border:1px solid white;
	border-radius:3px;
	padding: 5px;
	height: 4.5em;
	text-align: center;
}

.R_pageHeading{
	color: #526470;
    font-family: "Helvetica", "Roboto", "Arial", "sans-serif";
    font-size: 38px;
    margin-bottom: 10px;
    text-decoration: none;
    padding-left: 0px;
}



.filterelement{
	/*background: none !important;*/
	padding: 5px !important;
}


.R_large_icon {
	width: 20px;
	height: 20px;
	margin: 3px;
	cursor: pointer;
}

.R_spinner{
	background-image: url("/FleetWeb/resources/image/common/ajax_spinner.gif");
    background-repeat: no-repeat;
    background-size: 100px 100px;
    margin: 100px;
    
    position: relative;
	
}

.R_disable{
	background-color: #c9c9c9;
	cursor: default;
}

.R_small_icon {
	width: 13px;
	height: 13px;
	margin: 3px;
	cursor: pointer;
}

.R_chart_error
{
	position: absolute; background: #ffffff; border: 1px solid #ee3324;
    padding:8px 24px 9px 22px !important;
    font-size:12px;
    font-family:"Helvetica", "Roboto", "Arial", "sans-serif";
    color:#526470;
  	z-index:10;
    -moz-border-radius: 2px; 
    -webkit-border-radius: 2px; 
    border-radius: 5px;
    box-shadow: 1px 1px 2px 1px #e2e2e2;
    display: inline-block;
    /* background: url("../../image/common/GE-cancel.png") no-repeat scroll 5px 40% transparent; */
}

.R_smallIcon_no_height{
	width: 13px;
	margin: 3px;
	cursor: pointer;
}

#reportActionLinks .reportActionLinks {
	width: auto;
	margin-left: 9px;
	background: #279989;
	/* border-radius: 4px; */
	font-size: 16px;
	color: #fff;
	padding: 4px 8px;
}

.R_reportActionLabel {
	padding-left: 6px;
}

.R_reportButtonImgPaddingRight {
	padding-right: 6px;
}

.R_reportAction {
	padding-top: 8px;
	border: 2px solid #E4E4E4;
	height: 45px;
	border-radius: 5px;
	padding-left: 25px;
	margin-top: 13px !important;
	/* margin-buttom: 13px !important; */
}

#reportDefaultCheck {
	vertical-align: -2px;
}

.R_halfVerticalMargin{
	margin-top: 7px;
}

.R_reportMain {
	background-color: #d9e1e2;
	border-radius: 5px;
	padding: 10px;
	margin-top: 13px !important;
	/* margin-buttom: 13px !important; */
}

#reportFilters select[multiple] {
    height: 8em;
}

.R_reportInner {
	background-color: white;
	border-radius: 5px;
	/* margin-top: 25px !important; */
	padding: 10px;
}

.R_SecButtonPos {
	margin-left: 6px;
}

.R_Popup_Outer_layout {
	background-color: white;
	padding: 20px;
	/* border-radius: 5px; */
}

.R_reveal_popup {
	padding: 20px;
	height: auto;
}

.R_greenButn {
	background-color: #279989;
	cursor: pointer;
}

.R_bottomBorder {
	border-bottom: 1px dashed #526470;
	padding-bottom: 13px;
	margin-bottom: 13px
}

.R_rightBorder {
	border-right: 1px solid #526470;
}

.R_outputFormat {
	background-color: #FFFFFF !important;
	/* font-size: 13px;
	font-weight: bold;
	border-radius: 3px 3px 3px 3px;
	padding: 6px 10px 6px 10px; */
	border-radius: 5px;
	text-align: center;
	cursor: pointer;
	width: 130px !important;
	/* height: 32px !important; */
	height: 34px !important;
}

.selectedFormat {
	background-color: #279989 !important;
}

.downloadOption {
	cursor: pointer !important;
}

.R_popup_element_container {
	/* border: 1px solid #8C8C8C; */
	padding-left: 20px;
	padding-top: 20px;
	padding-top: 20px;
}

.selectedFormat span {
	color: #FFFFFF !important;
}

.R_doubleVerticalPadding {
	margin-top: 26px;
}

.R_popopuButtonPos {
	margin-left: 10px;
	padding-top:10px;
	padding-bottom:10px;
	cursor: pointer;
}

.R_popopuButtonPos:HOVER {
	margin-left: 10px;
	padding-top:10px;
	padding-bottom:10px;
	cursor: pointer;
}

.R_userSearchInputIcon {
	background: url("../../image/reports/icon_search_u6085.png") no-repeat
		scroll right center #ffffff !important;
	background-position: 96% !important;
}

.R_verticalMargin {
	margin-top: 13px !important;
}

.R_margin_left {
	margin-left: 10px;
}

.R_select {
	height: 8em;
}

.R_sec_full_padding{
	padding:10px;
}
.R_sec_full_padding:HOVER{
	padding:10px;
}
.R_notes {
	margin-top: 80px;
	cursor: auto;
}

.R_notes_small {
	margin-top: 50px;
	cursor: auto;
}

.R_metricsCustomPosition {
	/* margin-top: -15 !important; */
	padding-left: 0px;
	padding-top: 0;
}

.R_metricsHeadingTextCustomise {
	color: #FFFFFF !important;
/* 	margin-top: -10px; */
}

.R_leftPannelPosition {
	margin-top: 50px;
	text-align: right;
}

.R_doubleArrow {
	color: white;
	background-color: #279989;
	border-radius: 5px;
	height: 37px;
	padding: 5px;
	text-align: center;
	width: 40px;
	margin-top: 150px;
}

.R_metricsContainerCust {
	height: 300px;
	overflow: auto;
	padding-right: 15px;
	padding-top: 15px;
}

.R_leftPannelItems {
	padding-top: 12px;
	padding-bottom: 10px;
	cursor: pointer;
}

.R_metricsContainerCustInner {
	padding-bottom: 10px;
	padding-left: 15px;
	padding-right: 15px;
}

.R_metricsElements {
	background-repeat: no-repeat;
	border: 1px dashed #0f1111;
	border-radius: 5px;
	cursor: pointer;
	height: auto;
	 margin: 0 0 2px 5px;
	padding: 5px 0px;
	width: 48%;
}

.R_metricsElements_selected {
	background-repeat: no-repeat;
	border: 1px dashed #0f1111;
	border-radius: 5px;
	cursor: pointer;
	height: auto;
	margin-bottom: 10px !important;
	margin-left: 2px !important;
	padding: 9px 30px 10px 0;
	width: 94%;
}

.pannelButton {
	background-color: #FFFFFF;
	/* border-radius: 12px 0 0 12px; */
	color: #526470;
	height: 40px;
	/* padding-right: 27px; */
	/* padding-top: 14px; */
	width: 155px;
	/* margin: 0px !important; */
	/* padding: 0px; */
}

.R_metricsButtomBorder {
	border-bottom: 1px solid #526470;
	padding-bottom: 10px;
}

.R_metricsControlMain {
	margin-right: 0px;
	margin-bottom: 0px;
	margin-top: 0px;
	padding: 10px;
}

.R_metricsVerticalPadding {
	padding-top: 10px;
}

.R_metricsHorizontalMargin {
	margin-right: 10px !important;
}

.borderCircle {
	/* border: 2px solid #DADADA; */
	border-radius: 50% 50% 50% 50%;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 7px;
	color: #FFFFFF;
	background-color: #279989;
	border: none;
	padding-bottom:2px;
	line-height:10px;
	display:inline-block;
}

.circle {
	background-color: #009DD9;
	border-radius: 50% 50% 50% 50%;
	color: #FFFFFF;
	height: 22px;
	padding-left: 6px;
	padding-right: 5px;
	cursor: pointer;
}

.R_borderCircle {
	/* border: 2px solid #DADADA; */
	border-radius: 50% 50% 50% 50%;
	padding-left: 11px;
	padding-right: 14px;
	color: #FFFFFF;
	background-color: #279989;
	border: none;
}

.R_metricsControlMainSelected {
	margin-top: -34px;
	margin-right: 10px;
}

.R_topMenuelementSeprator {
	border-right: 2px solid #bcbcbc;
	height: 45px;
}

.R_topbar_main {
	background-color: #A1A1A1;
	color: #FFFFFF;
	font-family: "Helvetica", "Roboto", "Arial", "sans-serif";
	font-size: 16px;
}

.R_reveal_medimum {
	/* margin-left: -32%; */
    width: 64%;
}

.R_topbar_customise {
	height: 184px;
	overflow: auto;
}

.ellipsis {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	-o-text-overflow: ellipsis;
	-moz-binding: url(<q>../WEB-INF/spring/ellipsis.xml#ellipsis</q>);
}

#topHeaderMenu .R_menuLink {
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
	color: #00be9c;
	font-size: 14px;
	font-weight: 500;
	overflow: hidden;
	padding: 0;
	text-align: left;
	text-overflow: ellipsis;
	/* white-space: nowrap; */
	word-wrap:break-word;
	width: 100px;
}

#topHeaderMenu .top-menu-head-sub-element {
	z-index: 999;
	margin-left: 0px;
	position: absolute;
	min-width: 350px;
	/* background-color: hsla(0, 0%, 19%, 0.6); */
	background-color: #526470;
    border-top: none !important;
	display: none;
	margin-top: 17px;
}



.headerLink:HOVER {
	text-decoration: underline;
	color: #00be9c;
}

.headerlink {
	color: #526470;;
	font-family: "Helvetica", "Roboto", "Arial", "sans-serif";
	font-size: 17px;
	font-style: normal;
	font-weight: 400;
	text-transform: uppercase;
}

.headerlink-border-buttom {
	border-bottom: 1px dashed #CCCCCC;
	padding: 5px;
}

.headerlink-border-left {
	border-left: 1px solid #FFFFFF;
	/* border-height: 220px; */
	height: 225px;
	overflow: auto;
}

.headerlink-border-right {
	border-right: 1px solid #FFFFFF;
}

.top-menu-head-sub-element-close {
	color: #FFFFFF;
	font-size: 14px;
	font-style: normal;
	font-weight: 700;
	cursor: pointer;
}

.R_menuLink:HOVER {
	text-decoration: underline;
	color: #00be9c;
}

#topHeaderMenu .my-report-main {
	z-index: 999;
	position: absolute;
	right: -200px;
	width: 900px;
	background-color: rgb(242, 242, 242);
	border-top: 1px solid rgb(201, 201, 201);
	margin-top: 15px;
	display: none;
}

.R_paddingLeft {
	padding-left: 12px;
}

.R_buttomPadding {
	padding-bottom: 13px;
}

.date .datefilter {
	background: #FFFFFF url("../images/u1196.png") no-repeat 4px
		4px !important;
	background-position: 98%, right !important;
}


.R_configureWidgetVerticalMargin {
    background: none repeat scroll 0 0 #279989;
    border-radius: 5px;
    color: #ffffff;
    margin-left: 60px;
    margin-top: 122px;
    padding: 10px 0 10px 22px;
    width: 71px;
    cursor: pointer;
}

#pageCount_after_previous{
	    margin:20px;
}

.sorting_asc {
	background: url('../../image/common/sort_asc.png') no-repeat center
		right 3px;
	padding-right: 25px !important;
}

.sorting_desc {
	background: url('../../image/common/sort_desc.png') no-repeat center
		right 3px;
	padding-right: 25px !important;
}

.sorting {
	background: url('../../image/common/sort_both.png') no-repeat center
		right 3px;
	padding-right: 25px !important;
}

.sorting_asc_disabled {
	background: url('../../image/common/sort_asc_disabled.png') no-repeat
		center right 3px;
	padding-right: 25px !important;
}

.sorting_desc_disabled {
	background: url('../../image/common/sort_desc_disabled.png') no-repeat
		center right 3px;
	padding-right: 25px !important;
}

.filterTagSelected {
	width: 80px;
	font-size: 10px;
	height: 30px;
	background-color: #D7D7D7;
	padding: 2px 2px;
	border-radius: 5px;
}

.filtertag {
	margin: 5px;
	background-color: #fff;
	color: #526470;
	white-space: pre-wrap;
	border-radius: 3px;
	padding: 15px;
}

.filterheader {
	display: block;
	margin-bottom: 4px;
	font-weight: bold;
}

.R_dashboardElementHeight {
	height: 12em;
	overflow: auto;
}

.R_selectedMetricsCustm {
	height: 200px;
	overflow: auto;
}

.R_halfVerticalPadding {
	padding-top: 7px;
}

#selectedMetrics {
	cursor: pointer;
}

.R_QuarterVerticalPadding {
	margin-top: 3px;
}

.R_selectedWidget {
	background-color: #ecf0f0;
	border: none;
	padding-bottom: 6px;
	padding-top: 6px;
}

.R_dashboardwidgetInner {
	height: 374px;
	/* background-color: #F5F5F5; */
	float: left !important;
	overflow: hidden;
}

.R_dashboardwidgetInnerPos {
	border-color: #d9e1e2;
	border-style: solid;
	border-width: 4px;
}

.R_dashboardOuter {
	/* border-color: #d9e1e2;
	border-style: solid;
	border-width: 5px; */
	padding-left: 0;
	padding-right: 0;
}

.R_searchBoxInput {
	background: url("../images/u137.png") no-repeat scroll 96% center #ffffff !important;
	background-color: #CCCCCC;
	outline: none;
	border-style: none;
	top: 3px;
	width: 150px;
	margin-left: 5px;
}

.R_oppositeVerticalPadding{
	margin-bottom:-13px;
}

.R_largePaddingRight{
	padding-right:26px;
}

.R_nopadding{
	padding: 0px;
}

.R_paddingThrashold{
	padding-left:20px;padding-right:20px;
}
.next .fa-chevron-right {
    content: url("../images/u1515.png");
}

.prev .fa-chevron-left {
    content:url("../images/u1513.png");
}

.next .fa-chevron-right:before {
    content: url("../images/u1515.png");
}

.prev .fa-chevron-left:before {
    content:url("../images/u1513.png");
}

.R_modelSmall{
	margin-left: -30%;
	width: 60%;
}

.R_reveal_model{
	background-color: rgba(0, 0, 0, 0.6);
    border-radius: 10px;
}

.documentTypeHide{
	display: none;
}


.widgetTable{
	border: none !important;
}

.R_widgetTableConfig{
	border: none !important;
	margin-bottom: 0 !important;
}
.qtip-default{
	background-color: white !important;
	z-index: 9999 !important;
	-webkit-box-shadow: 0 0 5px #aaa !important;
	box-shadow: 0 0 5px #aaa !important;	
	border: 1px solid #aaa !important;
}
.qtip {
	max-width:500px !important;
}

.R_pagination_next_enable{
	background: url("../../image/common/Next_Active.png");
	background-repeat: no-repeat;
}

.R_pagination_prev_enable{
	background: url("../../image/common/Previous_Active.png");
}

.R_deleteConfirm {
	/* background: rgba(0, 0, 0, 0.6); */
    /* background: none repeat scroll 0 0 rgba(0, 0, 0, 0.6); */
    /* border: 1px solid #526470; */
    /* border-radius: 5px; */
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.4); */
    display: inline-block;
    /* height: 191px; */
    left: 38%;
    opacity: 1;
    padding: 10px 10px 0;
    position: fixed;
    top: 210px;
    /* visibility: visible; */
    width: 310px;
    z-index: 10000;
}


#dashboardView img, object, embed {
	max-width: none;
	height: auto;
}

.outputformat:HOVER {
	background-color: #00be9c !important;
	color:white !important;
}
.filterBlockDM {
	margin-top: -30PX !important;
    
}

div[id^=filterRow] {
	border-bottom: 1px solid #FFFFFF;
}

#filterrow4{
	
	padding-left: 20px;
	padding-top: 20px;
	padding-top: 20px;
	padding-bottom:20px;
}
#filterrow5{

	padding-left: 20px;
	padding-left: 20px;
	padding-top: 20px;
	padding-bottom:20px;
	/* width: 900px; */
}
#filterrow6{
	padding-left: 20px;
	padding-top: 20px;
	padding-top: 20px;
	padding-bottom:20px;
}
#filterrow7{
    padding-bottom: 4px;
    position: relative;
}
#filterrow8{
	padding-left: 20px;
	padding-top: 20px;
	padding-top: 20px;
	padding-bottom:20px;
}
#single_filltype{
    position: relative;
    left: 150px;
    top: -41px;
    width: 50%;
}
#single_fill_percentvalue{
    position: relative;
    top: -39px;
    left: 144px;
    width: 50%;
	
	}
#single_fill_litrevalue{
    position: relative;
    top: -39px;
    left: 144px;
    width: 50%;
	
	}
#non_fuel_type{	
	position: relative;
    top: -37px;
    left: 206px;
}
#non_standard_type{
	position: relative;
    left: 198px;
    top: -39px;
}
#zero_kilometre_reading{
	position: relative;
    left: 200px;
    top: -36px;
    pointer-events: none;
}
#multifill_type_per{
    position: relative;
    right: 246px;
    top: -38px;
    width: 236px;
}
#no_of_transaction{
    position: relative;
   	right: -521px;
    top: 10px;
    width: 159px;
}
#multifill_per{
    position: relative;
    left: -395px;
}
#fule_multi_note{
	position: relative;
    top: -1px;
}
#fuel_multi_note{
	position: relative;
    top: 120px;
}
#fuel_category{
	position: relative;
    top: -35px;
}
.in_more_value{
	position: relative;
    top: 48px;
    right: -438px;
}
.dashboard_title_block{
	background: #cddadc;
	padding-top: 10px;
	margin: 0px 8px 0px 8px;
}
.settings_icon{
	text-align: right;
	padding-right: 25px;
}
.dashboard_header_block{
    padding-top: 10px;
    padding-bottom: 10px;
}
.dashboardLabelCustom {
    font-weight: bold;
    color: #768692;
    font-size: 12px;
    font-family: "Helvetica", "Roboto", "Arial", "sans-serif";
    text-transform: uppercase;
    display: inline-block;
}
.dashboardIcon{
	width: 40px;
	height: 40px;
	margin-left: 10px;
	margin-top: -10px;
}
.homeIFrameAlign{
    left: -20px;
}

#dashBoardList:last-child {
	margin-bottom: 2em;
}
.R8_dashboardwidgetInner {
	height: 374px;
	float: left !important;
	overflow: hidden;
	margin: 0px 5px 20px -5px;
}
.R12_dashboardwidgetInner {
	height: 374px;
	float: left !important;
	overflow: hidden;
	margin: 0px 5px 20px -5px;
}
.R4_dashboardwidgetInner {
	height: 374px;
	float: left !important;
	overflow: hidden;
	margin: 0px 0px 20px 0px;
}